<div class="center">
  <div class="logo pull-right">
    <img src="../images/logo.png" alt="" title="" />
  </div>
  <div class="hero-unit">
    <h1>Welcome to <a href="http://chaplinjs.org/">Chaplin</a> app</h1>
    <p>You now have</p>
    <ul>
      <li>Twitter bootstrap</li>
      <li>Chaplin</li>
      <li>jQuery</li>
      <li>Backbone.js</li>
      <li>Lodash</li>
      <li>RequireJS</li>
      <li>Stylus</li>
      <li>Ejs templates</li>
      <li>Mocha</li>
      <li>Blanket</li>
      <li>Banchmark</li>
    </ul>
  </div>
</div>
